Flask==2.3.3
tensorflow==2.15.0
#keras==3.13.2
numpy==1.26.4
opencv-python-headless==4.8.1.78
mediapipe==0.10.9
protobuf==3.20.3
h5py==3.10.0
matplotlib==3.10.8
Pillow==12.1.1
scikit-learn==1.4.0
seaborn==0.13.2